*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#fff8e8;
    color:#222;
}

/* Header */

.top-header{
    background:#7b1fa2;
    color:#fff;
    padding:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-area img{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#fff;
}

.logo-area h2{
    font-size:18px;
}

.logo-area p{
    font-size:12px;
}

.home-btn{
    color:#fff;
    background:#ff9800;
    text-decoration:none;
    padding:8px 13px;
    border-radius:20px;
}


/* বাংলা পঞ্জিকা */

.panchang{
    width:95%;
    max-width:900px;
    margin:25px auto;
    text-align:center;
}

.panchang h1{
    color:#7b1fa2;
    margin-bottom:16px;
}

.month-control{
    background:#fff;
    padding:18px;
    border-radius:16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.month-control h2{
    color:#c2185b;
    font-size:26px;
}

.month-control p{
    color:#666;
    margin-top:4px;
}

.month-control button{
    width:42px;
    height:42px;
    border:0;
    border-radius:50%;
    background:#7b1fa2;
    color:#fff;
    font-size:18px;
}


/* আজকের তারিখ */

.today-box{
    background:#fff;
    margin-top:12px;
    padding:16px;
    border-radius:16px;
    box-shadow:0 4px 15px rgba(0,0,0,.12);
}

.today-box h3{
    color:#7b1fa2;
    margin-bottom:8px;
}

.today-box p{
    margin:5px;
    color:#555;
}


/* Calendar */

.calendar-box{
    background:#fff;
    margin-top:12px;
    padding:12px;
    border-radius:16px;
    box-shadow:0 4px 15px rgba(0,0,0,.12);
}

.week,
.calendar-days{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:4px;
}

.week div{
    background:#7b1fa2;
    color:#fff;
    padding:8px 2px;
    border-radius:5px;
    font-size:12px;
}

.calendar-days{
    margin-top:5px;
}

.calendar-days div{
    min-height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff3e0;
    border-radius:6px;
    font-weight:bold;
}


/* Sections */

.section{
    width:95
