/* ===== EXAM SECTION ===== */

.exam-section{
    width:94%;
    max-width:1100px;
    margin:30px auto;
}

.exam-section h2{
    text-align:center;
    color:#075f2b;
    margin-bottom:20px;
}

.exam-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.exam-grid a{
    background:#fff;
    color:#075f2b;
    text-decoration:none;
    padding:20px 15px;
    border-radius:15px;
    text-align:center;
    font-weight:bold;
    font-size:17px;
    box-shadow:0 4px 14px rgba(0,0,0,.12);
    transition:.3s;
}

.exam-grid a:hover{
    transform:translateY(-5px);
    background:#e8f5ec;
}

.exam-grid small{
    display:block;
    margin-top:8px;
    color:#777;
    font-size:12px;
    font-weight:normal;
}


/* ===== MOTIVATION ===== */

.student-motivation{
    width:94%;
    max-width:900px;
    margin:35px auto;
    padding:30px 20px;
    text-align:center;
    background:linear-gradient(135deg,#075f2b,#159447);
    color:white;
    border-radius:20px;
    box-shadow:0 7px 20px rgba(0,0,0,.2);
}

.student-motivation h2{
    font-size:27px;
    margin-bottom:12px;
}

.student-motivation p{
    line-height:25px;
}

.motivation-points{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin:20px 0;
}

.motivation-points div{
    background:rgba(255,255,255,.15);
    padding:12px 5px;
    border-radius:10px;
    font-size:14px;
}

.student-motivation h3{
    margin-top:15px;
    font-size:20px;
}

.student-motivation .quote{
    margin:12px auto;
    font-size:18px;
    font-weight:bold;
}


/* ===== MOBILE ===== */

@media(max-width:768px){

    .exam-grid{
        grid-template-columns:repeat(2,1fr);
        gap:12px;
    }

    .exam-grid a{
        font-size:14px;
        padding:16px 8px;
    }

    .motivation-points{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:480px){

    .exam-grid{
        grid-template-columns:1fr 1fr;
    }

    .student-motivation{
        padding:25px 15px;
    }

    .student-motivation h2{
        font-size:23px;
    }

}
